version: "3.7"

services:
  postgres:
    image: postgres:16-alpine
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    command: >
      postgres -c max_connections=500 -c shared_buffers=640MB
    # should be ~25% of max memory

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /mnt/storage-pool/tools_db:/docker-entrypoint-initdb.d:ro

    networks:
      - internal_network

    ## Uncomment for external access
    #ports:
    #  - 5432:5432

    environment:
      - POSTGRES_USER=${POSTGRES_ADMIN_USER}
      - POSTGRES_PASSWORD=${POSTGRES_ADMIN_PASSWORD}
      - POSTGRES_N8N_USER=${POSTGRES_N8N_USER}
      - POSTGRES_N8N_PASSWORD=${POSTGRES_N8N_PASSWORD}
      - TZ=America/Sao_Paulo

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.role == data
      resources:
        limits:
          cpus: "1.2"
          memory: 2560M
      labels:
        - traefik.enable=false

networks:
  internal_network:
    external: true

volumes:
  postgres_data:
    name: postgres_data
    driver_opts:
      type: none
      o: bind
      device: /mnt/postgres-data/pgdata
